@require '~@theme/styles/config'

$mobileSidebarWidth = $sidebarWidth * 0.82
$mobileRightSidebarWidth = $rightSidebarWidth * 0.82

// narrow desktop / iPad
@media (max-width: $MQNarrow)
  .sidebar-wrapper
    .sidebar
      font-size 15px
      width $mobileSidebarWidth
      left 0
    .sidebar-toggle
      left $mobileSidebarWidth
  .sidebar-wrapper.sidebar-hidden
    .sidebar
      left (-1) * $mobileSidebarWidth
    .sidebar-toggle
      left 0
  .right-sidebar-wrapper
    .right-sidebar
      font-size 15px
      width $mobileRightSidebarWidth
    .sidebar-toggle
      right $mobileRightSidebarWidth
  .right-sidebar-wrapper.right-sidebar-hidden
    .right-sidebar
      right (-1) * $mobileRightSidebarWidth
    .sidebar-toggle
      right 0
  .page
    padding-left 0
    padding-right 0
  .page.sidebar-hidden
    padding-left 0
  .page.right-sidebar-hidden
    padding-right 0

// wide mobile
@media (max-width: $MQMobile)
  .sidebar
    padding-top: 0


// narrow mobile
@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  {$contentClass}
    div[class*="language-"]
      margin 0.85rem -1.5rem
      border-radius 0
